.main-card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-card);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: left;
  transition: var(--transform-all);
}

.main-card:hover {
  transform: translateY(-8px);
  box-shadow: var(--box-shadow-hover);
}

.main-card-icon {
  align-self: center;
  color: var(--primary-color);
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.main-card-image-container {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.main-card-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.main-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-card-outcomes {
  color: var(--text-primary);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.main-card-highlights {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-card-highlight {
  padding-left: 1.2rem;
  position: relative;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
  font-weight: 500;
}

.main-card-highlight::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--primary-light);
  font-weight: 500;
}

.main-card-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.main-card-technology {
  background: #bae6fd;
  color: #0369a1;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  font-size: 0.8rem;
  font-weight: 500;
}

.main-card-links {
  /* ensures buttons are always at the bottom */
  margin-top: auto;
  display: flex;
  gap: 0.5rem;
}

.main-card-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-card-buttons button,
.main-card-buttons a img {
  vertical-align: middle;
}
