/* TODO: Need to fix on services page */
.base-section {
    padding: 5rem 2rem;
    text-align: center;
    margin: 0 auto;
}

.base-section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #1e293b;
    position: relative;
}

.base-section-title::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #3b82f6;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.base-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


@media (max-width: 1024px) {
    .base-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on tablets */
    }
}

@media (max-width: 768px) {
    .base-grid {
        grid-template-columns: 1fr;
    }
}